@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Damion";
  src: url(../../public/fonts/Damion-Regular.ttf);
}

/* body {
  font-family: "Noto Sans KR", sans-serif;
} */
